.signformbox{
  background-color: rgb(244, 246, 246);
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 1px 1px rgba(214, 212, 212, .5);
}
.signbox{
  margin: 0 auto;
  background-image: url('https://res.cloudinary.com/dhxefoe7j/image/upload/o_31/v1662564597/Studeasy/Sans_titre_24_zuzgmx.png');
  background-size: cover;
  background-position: center;
  height: 600px;
}
h2.title {
  text-align: center;
  color: rgb(212, 104, 104);
  font-size: 60px;
  padding-top: 20px;

}
  span.e{
    color: rgb(39, 165, 155);
  }
