<div class="landingbox">

  <div class="landing-content">

      <div class="landing-text">
        <h1>Stud<span class='e'>e</span>asy</h1>
        <h3>The best way to pass your exams, easily !</h3>
      </div>

      <div class="landing-links">
        <%= link_to "Sign Up", new_user_registration_path, class:'signup'  %>
        <%= link_to "Login", new_user_session_path, class:'login' %>
      </div>

    </div>

    <div class="footer">

        <div class="foot">
          <p>Studeasy</p>
          <p>35, Republic Street - London</p>
          <p>contac@studeasy.com</p>
        </div>

        <div class="icons">
          <ul>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          </ul>
        </div>


    </div>





</div>
