<div class="landingbox">

  <div class="landing-text">
    <h1>Stud<span class='e'>e</span>asy</h1>
    <h3>How did you do without us ?!</h3>
  </div>

  <div class="landing-links">
    <%= link_to "Sign Up", new_user_registration_path, class:'signup'  %>
    <%= link_to "Login", new_user_session_path, class:'login' %>
  </div>





</div>
